*.class

# Package Files #
*.jar
*.war
*.ear

# AsteroidMiner
.metadata/

# Core project
AsteroidMiner/.settings/
AsteroidMiner/bin
AsteroidMiner/.classpath

# Android natives
AsteroidMiner-android/.settings/
AsteroidMiner-android/bin
AsteroidMiner-android/.classpath
AsteroidMiner-android/project.properties

# Desktop natives
AsteroidMiner-desktop/.settings/
AsteroidMiner-desktop/bin
AsteroidMiner-desktop/.classpath

# HTML5 natives
AsteroidMiner-html/.gwt/
AsteroidMiner-html/.settings/
AsteroidMiner-html/war/assets/
AsteroidMiner-html/war/WEB-INF/deploy/
AsteroidMiner-html/war/ch.kanti_wohlen.asteroidminer.GwtDefinition/
AsteroidMiner-html/gwt-unitCache/
AsteroidMiner-html/bin
AsteroidMiner-html/.classpath
/AsteroidMiner-android/gen/